.container{
    max-width: 1170px;
    width: 100%;
}

/* header */
.headerContainer a{
    color: black;
    font-size: 20px;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
}.headerContainer{
  box-shadow: #333 4px -1px 13px -1px;
}
.blueNavbarSupportedContent{
    /* position: fixed
    transition: 0.5s;; */
}
.sydney-dropdown{
    border: 2px solid #26AEAC;
    border-radius :6px; 
    padding: 3px 14px;
    margin: 3% 35px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;

}
.dropdown .order-lg-1{
    margin-right: 34px;
}
.form-menu-items{
    display: inline-flex;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-right:2.5rem;

}
.lowertext{
    text-transform: initial;
    font-size: 27px;
}
.filter-body-text{
    color: white;
    display: inline-block;
}
.text{
    font-size: 40px;
    font-weight: 700;
    margin-right: 42px;
}
.italic{
    font-style: italic;
}
.links{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.navbar-brand{
    font-size: 40px;
    font-weight: 700;
    margin-right: 62px;
}
.circled{
    margin-left: 3px;
    background-color: #f0c195;
    color: white;
    padding: 7px 11px;
    border-radius: 25px;
}
.search-icon{
    width: 82%;
}
.hidden-header-icons{
    display: none;
}
/* .dropdown-toggle{
    padding: 0;
} */
.circled .btn{
    color: white;
}

.headingText{
    font-family: 'TT Norms Pro';
    font-size: 20px;
}
.sydney-visibility{
    visibility: visible;
}
/* footerContainer */
.footerContainer {
    margin-top: 3%;
    position: absolute;
    /* bottom: 0; */
    width: 100%;
    /* width: 1280px; */
    /* height: 60px; */
    /* line-height: 60px; */
    /* background-color: #fafafa; */
    overflow: hidden;
}
.email-input .form-control:focus,.email-input .form-control:focus{
    outline: 0;
}
.footerContainer a{
    text-decoration: none;
    color: black;
}
.footerContainer li{
    font-size: 20px;
}
.footerContainer h3{
    font-size: 40px;
}
.footerWorkIcon{
    margin-left: -61px;
    background:linear-gradient(to right, #FA937E 0%, #FCB34E 100%); ;
    color: white;
    padding: 2px 8px;
    border-radius: 25px ;
    margin-top: 9%;
    /* box-shadow:1px 4px 11px #888888; */
}
.footer-first-item{
    /* width: 35%; */
}
.email-input{
    width: 100%;
}
.email-input .form-control{
    background-color: #EFEFEF;

}
.headingText{
    font-family: 'TT Norms Pro';
    font-size: 20px;
}
.footerContainer h4{
    font-weight: 700;
}
.footerContainer p{
    font-size: 20px;
    font-family: 'Roboto';
}
.footerImage{
    right: -5%;
    width: 151px;
    height: 151px;
    position: absolute;
    margin-top: -25%;
}

.listUnstyled{
    list-style-type:none;
    padding-left:0;
}
.italicFooter{
    font-style:italic;margin-right:3px

}
.formContainer{
    width:92%;margin-top: 3%;
}
.blueIcon{
    width: 70px;
    height: 70px;
    background-color:#34AED5;
    color: white;
    border-radius: 30px;
    padding: 8px 15px;
    font-size: 19px;
}
.icons{
    margin-top: 19px;
}
/* homepage */
/* section one */
.right-arrow-design{
    float:right;margin-right:10%;margin-top:1%;font-size:25px
}
.left-arrow-design{
    margin-left:10%;margin-top:1%;font-size:25px
}
.headingContainer{
    /* margin-top: 2%; */
    padding-top: 5%;
    position:relative;
    margin-bottom: 5%;
}
.topRankedHeading{

}
.topRankedText{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: -5px;
    margin-left: 10px;

}
.topRankedLabel{
   bottom: -20px;
}
/* .headerText{
    font-size: 40px;
} */
.headerText{
    text-transform: uppercase;
    font-size: 68px;
    color: white;
}
.yellowText{
    font-weight:700; color:#FFA145
}
.categories{
    margin-bottom: 10%;
    position: relative;
    margin-top: -12%;
}
.topRankedSearch{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}
.topRankedSearch input:focus {
    outline: none !important;
}
.topRankedContainer{
    padding: 0px 9px;
    background-color: white;
    border-radius: 50px;
    width: 67%;
    margin-bottom: 50px;
}
.topRankedButton{
    margin-top: -5%;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    color:white;background-color:#f0c195;
    margin-bottom: -7%;
    margin-left: 43%;
}
.topRankedButton :hover{
    color:white;background-color:#f0c195;

}.topRankedButton :focus{
    color:white;background-color:#f0c195;
    outline: 0;

}
.topRankedButton:active{
    outline: 0;
}
.workContainer{
    margin-top:4%; margin-bottom:4%;
     /* margin-left:3%; */
}
.grey{
    color: gray;
}
.parentText{
    text-transform: uppercase;
    /* font-size: 20px; */
    font-weight: 600;
    margin-left: 31%;
    width: 23%;
    position: absolute;
    margin-top: 9%;
    font-family: 'Roboto',sans-serif;

}
.parentArrow{
    margin-left: 19%;
    position: absolute;
    margin-top: 12%;
}
.parentingContainer{
    background-color: white;
    width: 310px;
    height: 200px;
    border-radius: 25px;
    box-shadow:1px 4px 11px #000000;
    margin-top:  10%;
    z-index: 1;
}
.parentImageBox{
    width: 173px;
    position: absolute;
    margin-top: 17px;
    margin-left: 0%;
}
.parentBody .btn{
  float: right;
  bottom: 0;  margin-top: 46%;
}
.searchContainer{
    /* background-image:url('./images/search.png');  */
    /* background-size: 100% 100%; */
    padding-bottom: 15%;
    z-index: -1;
}
#owl-demo .item{
    margin: 3px;
  }
#category-owl-demo .category-item{
    margin: 3px;
  }

.ageSlider{
    /* margin-top: 20%; */
    margin-bottom: 1%;
}
/* section two */
.tallyWorkText{
    font-weight: 600;
    font-size: 25px;
    font-family: 'Roboto',sans-serif;
}.tallyWorkHeading{
    font-size:40px;
    text-transform: uppercase;
    font-weight: 700;
    width: 70%;
}
.tallyLargeText{
    font-size: 25px;
    font-weight: 400;

}
.workIcon{
    margin-left: 3px;
    background-color:#f0c195 ;
    color: white;
    padding: 2px 5px;
    border-radius: 25px ;
    margin-top: 9%;
    box-shadow:1px 4px 11px #888888;
}
.readMoreButton{
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px 20px;
}
.readMoreText{
    margin-right: 20px;
}
/* section three */
.ageImage{
    position: absolute;
    width: 700px;
    height: 700px;
    right: 65%;
    z-index: -1;
}.ageImagePolygon{
    position: absolute;
    width: 200px;
    height: 200px;
    /* right: -5%; */
    /* z-index: -1; */
}

.ageContainer{
    margin-bottom: 12%;
}.ageBackgroundContainer{
    position: relative;
    margin-bottom: 2%;
}
.ageContainerText{
    /* margin-left: -14%; */
    /* margin-bottom: 20%; */
    /* top:-40%; */
}
.ageLargeText{
    font-size: 20px;
    font-weight: 400;
    margin-top: 5%;
    width:80%;
}

.AgeUppercaseText{
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 45px;
    font-weight: 700;
    width:50%;
}
.ageContainerText{
    margin-left: -12%;
    padding: 5% 5% 0 5%;
    margin-top: 3%;
    color: white;
    position: relative;
    width: 55%;
}
.ageContainerText p{
    /* margin-top: 5%;
    width:80%;
 */
}
.postContainer{
    margin-top: 13%;
    background-color: white;
    width: 225px;
    height: 250px;
    border-radius: 20px;
    position: relative;
}
.postBody{
    position: absolute;
    margin-top: 50%;
    padding: 20px;
}
.postBody .btn{
    position: absolute;
    right: 0;

}
.postBody p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.postImage{


}
.postImageSize{
    height: 254px;
    position: absolute;
    margin-top: -49%;
}
/* section four */
.categoryContainer{
    /* background-color: #26AEAC; */
    padding-top: 5%;
    padding-bottom: 5%;
}
.categoryHeadingContainer{
    margin-left: -2%;
    margin-bottom: 11%;
}
.categoryText{
    font-size:47px;
    font-family: 'Roboto',sans-serif;
    color:white;
    text-transform: uppercase;
}
.categoryLargeText{
    font-size: 25px;
    color:white;
    font-family: 'Sofia Pro';
    line-height: 1.1;
}
.postContainer{
    font-family: 'Roboto',sans-serif;
}
.postItem{
    margin-left: 14%;
    display: flex;
    justify-content: space-evenly;
}
.postItemTwo{
    display: flex;
    justify-content: space-evenly;
    margin-left: 15%;
}
.categoryImage{
    margin-left: -16%;
    position: absolute;
    margin-top: -16%;

}
/* section five */
.latestContent{
    padding-top:5%;
    padding-bottom:5%;
    font-family:'Roboto'
}
.latestContent img{
    width: 215px;
    height: 215px;
}
.latestContent p{
    font-size: 26px;
    line-height: 1;
    font-family: 'Roboto', sans-serif;

}
.uppercaseText{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;

    font-size: 45px;
    font-weight: 700;
    width:50%
}
.blue{
    color: #34b7eb;
}
/* section six */
.searchQuestion{
    background-color: #34b7eb;
    padding-top: 4%;
 padding-bottom: 5%;
 color: white;
}
.searchButton{
    margin-top: -39%;
    border-radius: 50px;
    width: 90px;
    height: 90px;
    background-color: white;
    color: #34b7eb;
    font-size: 28px;
}
.searchButton ::placeholder{
    color:white;
    opacity: 1;
}
.searchImage{
    position: relative;
    margin-left:  -15%;
    width: 95px;
    height: 95px;
}
.searchInput{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #34b7eb;
    outline:none;
    color: white;

}
.searchInput:focus{
    outline:none;
}
.searchUppercaseText{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 700;
    width:50%
}
.searchLargeText{
    font-size: 25px;
    font-weight: 400;

}
/* section seven */
.finalSignature{
    transform: rotate(
        -5deg
        );
            position: absolute;
            font-size: 35px;
            font-weight: 700;
}
.finalContainer{
    margin-top: 4%;
    margin-bottom: 7%;

}
/* .finalContainer img{
    width: 341px;
    height: 341px;
    border-radius: 158px;
} */
.finalImage{
    width: 341px;
    height: 316px;
    border-radius: 158px;
}
.finalImageTwo{
    position: absolute;
    margin-top: 58%;
    width: 127px !important;
    height: 130px !important;
    margin-left: 53%;
}
.finalText{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    font-size: 25px;
}


.input-group-search .form-control{
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    border-width: 0 0 2px 0;
    border-color: #fff;
    border-radius: 0;
    font-weight: 300;
    font-size: 24px;
    color: #fff;
    padding: 0;
}
.input-group-search .form-control::placeholder {
    color: #fff;
  }

.input-group-search .form-control:-ms-input-placeholder {
    color: #fff;
  }

.input-group-search .form-control::-ms-input-placeholder {
    color: #fff;
  }
.input-group-search .btn{
    width: 50px;
    height: 50px;
    margin-left: 15px;
    color: #26aeac;
    font-size: 18px;
    background: #fff;
    border-radius: 50px !important;
  }
.top-ranked-search .form-control{
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    border-width: 0 0 2px 0;
    border-color: #fff;
    color:#999999;
}
.top-ranked-search .form-control::placeholder {
    color: #999999;
  }

.top-ranked-search .form-control:-ms-input-placeholder {
    color: #999999;
  }

.top-ranked-search .form-control::-ms-input-placeholder {
    color: #999999;
  }

  /* blog page */
.headContainer{

}
.blogHeading{
        /* background-image: linear-gradient(to right, #34AED5 , #26AEAC); */
        /* font-size:700; */
        padding: 2%;
        color: white;
        font-weight: 700;
        font-family: 'Roboto',sans-serif;
        font-size: 20px;

}
.blog-dropdown-style{
    display:inline-block;
     background-color:white;
     color:black;
     list-style:none;
     padding: 4px;
     border-radius: 5px;
     font-family: 'Roboto',sans-serif;
    /* visibility: hidden; */
    /* -moz-appearance:none; /* Firefox 
    -webkit-appearance:none;  Safari and Chrome
    appearance:none; */
}

/* .blog-dropdown-style:after{
    content: '+';
    color: black;
} */
/* .navbar-nav > li > .dropdown-menu { background-color: #FF0000; } */
.blog-heading-text{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
}
.blog-body-text{
    width: 50%;
    /* position: absolute; */
    align-items: center;
    display: inline-block;
    /* text-transform: uppercase; */
}
.blog-filter-by{
    font-weight: 400;
    display: inline;
    text-transform: uppercase;
}
.blog-filter-by:hover{
    text-decoration: underline;
    cursor: pointer;
}
.eczema{
    font-size: 20px;
    padding-right: 23%;
}
.blogImage{
    width: 950px;
    /* height: 534px; */
}
.grey-background{
    background-color: #F2F2F2;
}
.blog-links{
    color: white;
    margin-top: -8%;
    margin-left: 5%;
    font-style: italic;
    font-family: 'Roboto',sans-serif;
}
.blog-links span{
    margin-left: 5%;
}
/* blog section three */
.cardContainer{
    font-family: 'Roboto',sans-serif;
    height: 467px;
}
.loadMore{
    text-transform: uppercase;
    background-color: white;
    color: black;
    padding: 7px 27px 7px 27px;
    border-radius: 20px;
    border:1px solid grey;
}.loadMore:focus{
    text-transform: uppercase;
    background-color: white;
    color: black;
    border:1px solid grey;

}.loadMore:hover{
    text-transform: uppercase;
    background-color: white;
    color: black;
    border:1px solid grey;

}.loadMore:active{
    text-transform: uppercase;
    background-color: white;
    color: black;
}
.arrow{
    background-color :#f0c195;
    color:white;
    margin-left: 20px;
    border-radius: 15px;
     padding: 1px 6px;
}
.image-blog-links{
    color: white;
    margin-top: -12%;
    margin-left: -33%;
    margin-bottom: 5%;
    font-style: italic;
    font-family: 'Roboto',sans-serif;
    font-size: 12px;
    font-weight: 500;
}
.image-blog-links span{
    margin-left: 5%;
}
.card-title{
    min-height: 69px;

}
.card-text{
    /* min-height: 70px; */
}

/* blog details page */
/* section one */
.headImage{
    width: 100%;
    /* height: 70%; */
}
.blog-details-background{

}
.blog-icons{
    position: absolute;
    left: -31px;
    width: 6%;
    margin-top: 5%;
}
.facebookIcon{
    background-color: #3B5998;
    display: inline-block;
    color: white;
    padding: 9px 12px;
    border-radius: 20px;
    font-size: 20px;
    margin: 5px;
}
.twitterIcon{
    background-color: #039BE5;
    color: white;
    margin: 5px;
    display: inline-block;
    padding: 9px 9px;
    border-radius: 21px;
    font-size: 20px;
}
.instagramIcon{
    background-image: linear-gradient(to bottom, #CF37CF , #E8647C);
    color: white;
    margin: 5px;
    display: inline-block;
    padding: 9px 11px;
    border-radius: 21px;
    font-size: 20px;
}
.emailIcon{
    background-color: #BBBBBB;
    color: white;
    margin: 5px;
    display: inline-block;
    padding: 9px 9px;
    border-radius: 21px;
    font-size: 20px;
}
/* section two */
.bodyContainer{
    position: relative;
    margin-top: -5%;
    background-color: white;
    border-radius: 10px;
    padding: 2% 5% 3% 5%;
    border: 1px solid #D5D5D5;
    width: 74%;
}
.bodyContainer h1{
    font-size: 40px;
}
.childSection{
    margin-top: -11%;
    color: white;
    margin-left: -7%;
    font-size: 27px;
    font-family: 'Roboto',sans-serif;
    font-style: italic;
}
.tratmentSectionOne, .tratmentSectionTwo p{
    font-family: 'Roboto',sans-serif;
    font-size: 27px;
    margin-bottom: 3%;
}
.tratmentSectionTwo li{
    font-family: 'Roboto',sans-serif;
    font-size: 25px;
    margin-bottom: 3%;
}

.tratmentSectionTwo li{
    color: #828282;
    text-decoration: none;
}
.tratmentSectionTwo ul{
    list-style-type: none;
    padding-left: 11px;
}

.babyImage{
    height: 404px;
    width: 1115px;
}
.black-text{
    color: black;
}
/* newborns and babies page */
.topContainer ul{
    text-decoration: none;
}
.topContainer ul{
    list-style-type: none;
}
.topImage{
    /* position: absolute; */
    width: 70%;
    /* height: 50%; */
    margin-left: 11%;
    margin-top: 12%;
}
.topContainer h1{
    text-transform: uppercase;
    font-weight: 700;
    width: 60%;
    margin-bottom: 2%;
}

.listItems{
    list-style-type: none;
    padding: 0;
    margin-top:4%;

}
.bullets{
    color: #26AEAC;
    margin-right: 5px;
    font-size: 22px;
}
.bullet-items{
    font-size: 22px;
    font-family: 'Roboto',sans-serif;
    margin-bottom: 2%;
}
.polygon{
    position: absolute;
    margin-top: 18%;
    right: 29%;
    /* width: 31%; */
}
.topContainer{
    font-family: 'Roboto',sans-serif;margin-top: 7%;
}

.subHeading{
text-transform: uppercase;

}
.subHeading h1{
    font-family: 'Roboto',sans-serif;
}
.subHeading h3{
    font-family: 'Roboto',sans-serif;
}
/* section two */
/* <!-- parentingContainer parentImage parentImageBox parentBody parentText workIcon --> */
.newbornContainer{
    background-color: white;
    width: 191px;
    height: 205px;
    border-radius: 25px;
    box-shadow: #333 0px 1px 6px 1px;
    margin-top:  10%;
    z-index: 1;
    margin-bottom: 4%;
}
.newbornImage{
    margin: 0 auto;
}
.newbornImageBox{
    width: 100px;
    /* position: absolute; */
    /* margin-top: 17px; */
    /* margin-left: 0%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.newbornBody{
    display: flex;
    align-items: center;
    /* text-align: center; */
    padding:15px 7px;
  /* border: 3px solid green; */

}
.newbornBody .btn{
   /* position: absolute; */
   right: 0;
  }
.newbornText{
    /* text-transform: lowercase; */
    font-size: 20px;
    font-weight: 600;
    /* margin-left: 31%; */
    width: 70%;
    /* position: absolute; */
    /* margin-top: 9%; */
    font-family: 'Roboto',sans-serif;
    color: black;
}
.newbornArrow{
    margin-left: 19%;
    position: absolute;
    margin-top: 12%;
}
.workIcon{
    /* margin-left: 3px; */
    background-color:#f0c195 ;
    color: white;
    padding: 2px 5px;
    border-radius: 25px ;
    /* margin-top: 9%; */
    box-shadow:1px 4px 11px #888888;
}
.newborn-categories{
    margin-bottom: 4%;
    position: relative;
    margin-top: -1%;

}
.newbornSectionTwo{
    background-color: #34AED5;
    padding-bottom: 6%;
    color: white;
}
.paraText{
    text-transform: none;
    font-family: 'Roboto',sans-serif;
    font-size: 22px;
    width: 80%;
}
.newbornSectionTwo h1, h3{
    /* color: white; */
}
.newborn-image-container{
    float: right;
    margin-top: -31%;
}
/* hover section 1 */
.hoverItem {

    position: relative;
  }
.itemContent li{
    margin-bottom: 5%;
    margin-top: 2%;
    padding: 0;
  
}
.bullet-items a{
    text-decoration: none;
    color: black;
}
.itemContent {
    /*visiblity: hidden; */
    display: none;
    position: absolute;
    top: 0;
    left:50%;
    font-size: 17px;
    margin-top: -73px; /* approx adjustment for arrow */
    margin-left: 1px; /* approx adjustment for arrow */
    
  }
  .hoverUnitItem:hover{
    color:#34AED5 ;
  }
.listItems a:hover{
    color: #34AED5;
    text-decoration: none;

}
.hoverItem div {
    display: none;
}
.hoverItem:hover div {
    cursor: pointer;
    display: block;
    /* visibility: visible; */
    width: 280px;
    /* height: 200px; */
    line-height: 1;
    /* margin-left: -10%; */
    padding: 12px 0;
    font-size: 17px;
    text-align: left;
    /* margin-bottom: 5px; */
    z-index: 999;
    color: black;
   
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-left:4px solid #34AED5 ;
    border-radius: 5px;
    text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
    /* box-shadow: #333 -4px 4px 16px 2px; */
    -webkit-transition: opacity 100ms ease-in;
    -o-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    /* pointer-events: none; */
  }
  .itemContent:after {
    content: "";
    position: absolute;
    width: 10;
    height: 10;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #34AED5 transparent transparent;
    top: 70px;
    left: -24px;
    
  }
  #button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }

  .navbar-toggler .navbar-cross-icon{
    display: none;
  }
.navbar-toggler.toggler .navbar-toggler-icon{
  display: none;
}
.navbar-toggler.toggler .navbar-cross-icon{
   display: block;    
}
.dropdown-plus-icon{
    display: none;
}.dropdown-minus-icon{
    display: none;
}
.blue-location-icon{
    display: none;
}
.dropdown-bold-category .dropdown-minus-icon{
    display: none;
  }
.dropdown-bold-category.dropdown-toggler .dropdown-plus-icon{
  display: none;
}
.dropdown-bold-category.dropdown-toggler .dropdown-minus-icon{
   display: none;    
}
/* .dropdown-bold-category.dropdown-toggler .dropdown-minus-icon */

.blog-category-backbround.blog-age.accordion-minus-icon{
    display: none;
  }
.blog-category-backbround.blog-age.blog-dropdown-toggler.accordion-plus-icon{
  display: none;
}
.blog-category-backbround.blog-age.blog-dropdown-toggler.accordion-minus-icon{
   display: inline;    
}